# This is an example file.
# DO NOT put your actual API key in this file.
#
# Create a new file named .env.local and add your secret key there.
# The .env.local file is ignored by Git (see .gitignore).

NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
NEXT_PUBLIC_SITE_URL=https://muftitravels.vercel.app
